<div class="sidebar">
<mat-nav-list>
<div class="logo py-2">
  <img src="assets/images/logo.png" alt="">
</div>
<mat-divider></mat-divider>
<h2 matSubheader class="text-center mt-2">DEVSTREE
   WORKSTATION</h2>
<p class="list">
<a mat-list-item  routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon><span>Dashboard</span></a>
<a mat-list-item  routerLink="/time" routerLinkActive="list-item-active"><mat-icon>watch</mat-icon>         <span>Time Management</span> </a>
<a mat-list-item  routerLink="/project" routerLinkActive="list-item-active"><mat-icon>work</mat-icon>       <span>Project Management</span> </a>
<a mat-list-item  routerLink="/leave" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>         <span>Leave Management</span> </a>
<a mat-list-item  routerLink="/report" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>        <span>Report</span></a>
<a mat-list-item  routerLink="/extras" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>        <span>Extras</span> </a>
<a mat-list-item  routerLink="/interview" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>     <span>Interview</span> </a>
<a mat-list-item  routerLink="/support" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>       <span>Support</span> </a>
<a mat-list-item  routerLink="/training" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>      <span>Training</span> </a>
</p>
</mat-nav-list>
</div>
